<div class="search-wrapper">
  <div class="search-wrapper-title">MY WEATHER</div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>City name</mat-label>
    <input matInput placeholder="Minsk" value="Minsk" [(ngModel)]="city" >
  </mat-form-field>

  <img src="assets/img/img.png" alt="" class="search-wrapper-icon">

</div>

<div class="btns">
  <button routerLink="/one-day" mat-button color="primary">Today</button>
  <button routerLink="/five-day" mat-button color="primary">5-day forecast</button>
</div>

<router-outlet></router-outlet>

<!-- <app-weather-today></app-weather-today>
<app-weather-five-day></app-weather-five-day> -->
